# Environments
gpu_env/
.venv/
venv/

# Cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Database
*.db-shm
*.db-wal

# Secrets
.env


# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Misc
Aiiiii
*.log
